/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.accountType{
    margin-bottom: 0;
    background-color: #00B074;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.accountTypeText h3{
    font-weight: 600;
}
#responseMessage{
    font-weight: bold;
}
#regFormUser{
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}
.categorySingle{
    cursor: pointer;
}
input[name="accountType"]{
    background-color: white!important;
    appearance: auto;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 0;

}
#jobSalary,#latestJobs{
    background-color: white!important;
    appearance: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
}
.postJobSalary{
    padding: 15px!important;
}
#verifiedAccount{
    background-color: #000000;
    color: #FFFFFF;
    width: 400px;
    opacity: 0;
    position: fixed;
    z-index: 100000;
    font-weight: 700;
    transform: translateX(-50%);
    left: 50%;
    top: -50%;
    border-radius: 10px;
}
.accountType:hover{
    transform: scale(1.05);
}
.img-account-profile{
    border: 3px solid #1a202c;

}
.editJob{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
    max-width: 900px;
}
#companyError{
    position: absolute;
}
.deleteJob{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 100;
}
.boostJob{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 100px;
    top: -20px;
    z-index: 100;
}
.boostJob i{
    margin-left: 10px;
}
.boostJobModal{
    display: none;
}
.boostedJob{
    cursor: default!important;
    background: #4229ff;
    position: absolute;
    left: 3%;
    top: -20px;
    z-index: 100;
}
.boostedJob span{
    color: #FFFFFF;
    cursor: default!important;
}
.boostedJob span:hover{
    color: #FFFFFF!important;
}
.boostedJob i{
    color: #FFFFFF;
}
#passwordDiv{
    position: relative;
}
#passwordDiv input{
    padding-right: 30px;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-password:before {
    font-weight: 900;
    font-size: 20px;
    color: #999;
}
#passwordLogin:focus + .toggle-password:before, #resetPasswordLogin:hover + .toggle-password:before,#currentPassword:hover + .toggle-password:before {
    color: #333;
}
.font-small {
    word-wrap: break-word; /* wrap long words */
}
.openedEye,.closedEye{
    font-size: 20px;
    cursor: pointer;
}
.toast {
    opacity: 1 !important;
    width: 400px!important;
}
#companiesHeading{
    font-size: 20px;
    margin-top: 50px;
}
#compCount{
    font-weight: 300;
}
#allCompanies a{
    text-decoration: none;
    color: #000000;
}
#allCompanies .card{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .08);
    border-radius: 10px;
}
#allCompanies .card .card-body p{
    font-size: 18px;
    font-weight: 700;

}
#allCompanies .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #1a202c;
}
.company{
    background: #ffffff;
    border-radius: 10px;
    width:25%;
    margin: 10px 2%;
}
#progressDetailsBar .progress-bar{
   border-radius: 10px;
    font-size: 15px;
}
#progressDetailsBar .progress{
    border-radius: 10px;
    height: 20px;
}
.singleFilter{
    margin-right: 10px;
    background: #e1ffe0;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 10px;
    color: black;
}
.deleteSingleFilter{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
background: #1a202c;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: 700;
width: 30px;
}
.search-container {
    position: relative;
    width: 600px;

}
#searchResults{
    position: absolute;
    width: 600px;
    /*center a div below .search-container input text*/
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 100;
    height: 210px;
    overflow-y: auto;
}
.search-container input[type="text"] {
    width: 600px;
    padding: 20px 50px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    outline: none;
}
.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
    width: 20px;
}
.search-result{
    width: 100%;
    padding: 10px;
    height: 70px;
    background: #FFFFFF;
    z-index: 100;
}
.search-result p{
    margin-bottom: 0;
    padding-bottom: 0;
}
.titleResult{
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 17px;
}
.search-result p{
    font-size: 14px;
    font-weight: 100;
    color: #999999;
}
.iconResult{
    font-size: 20px;
    width: 30px;
}
.search-result:hover{
    background: #f0f0f0;
}
.linkSearch{
    cursor: pointer;
}
#lastSearchResult{
    border-radius: 0 0 10px 10px;
}
#searchWrapper{
    padding: 150px 0!important;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.img-account-profile{
    object-fit: cover;
}
.jobSearchLabel{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.iconDiv{
    width: 50px;
}
#postJobForm input[type="text"],#postJobForm input[type="number"],#postJobForm input[type="date"], #postJobForm select, #postJobForm textarea{
    width: 50%;
}
/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    width: 95%;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
